/* constant values used in the page */
:root {
    --ourWeakBlue: #92a6e5;
    --ourStrongBlue: #4935d4; color: #4935d4;
    --ourClearBlue: #4f79ad;
    --ourWhite: #fff;
    --ourWeakBlack: #212121;
    --ourWeakWhite: #d4d4d4;
}

/* External fonts */

@font-face {
    font-family: 'rounded';
    src: url(fonts/airfact.ttf);
}

/* Element styles */
* {
    font-family:rounded;
    transition: all 1s;
}

/* Main styles */

.bg-blue-wht-on-focus-transiter:hover {
    background-color: var(--ourStrongBlue);
    color: var(--ourWhite);
}
.bg-strong-bluer {
    background-color: var(--ourStrongBlue);
}
.bg-weak-bluer {
    background-color: var(--ourWeakBlue);
}
.bg-whitener {
    background-color: var(--ourWhite);
}
.bloc-displayer-with-less-margin-t-b {
    display: block;
    margin: 6% 0 6% 0;
}
.bolder {
    font-weight: bold;
}
.border-nullifier {
    border: none;
}
.border-pre-style-breaker {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #858282;
    background: #fff;
}
.border-pre-style-breaker-with-blue-bg {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #858282;
    background: var(--ourStrongBlue);
}
.bottom-border-bluerer:hover {
    border-bottom: 2px solid var(--ourStrongBlue);
}
.bottom-border-whitener:hover {
    border-bottom: 2px solid var(--ourWhite);
}
.browser-margin-nullifier {
    margin: 0;
}
.container-row {
    display: flex;
}
.flx-between-separater {
    justify-content: space-between;
}
.flx-width-equalizer {
    width: 50%;
}

.focus-border-style-nullifier:focus {
    outline: none;
}
.less-bottom-paddinger {
    padding-bottom: 0.3em;
}

.less-left-marginer {
    margin-left: 1.2em;
}
.less-paddinger {
    padding: 3%;
}
.link-natural-style-nullifier {
    text-decoration: none;
}
.mean-paddinger {
    padding: 5%;
}
.one-per-three-width {
    width: 20%;
}
.one-per-two-width {
    width: 48%;
}
.pointer-cursor {
    cursor: pointer;
}
.simple-border-radiuser {
    border-radius: 20px;
}
.simple-left-border-radiucer {
    border-radius: 20px 0 0 20px;
}
.simple-right-border-radiucer {
    border-radius: 0 20px 20px 0;
}
.text-clear-bluer {
    color: var(--ourClearBlue);
}
.text-weak-blacker {
    color: var(--ourWeakBlack);
}
.text-weak-whitener {
    color: var(--ourWeakWhite);
}
.text-whitener {
    color: var(--ourWhite);
}
.three-per-four {
    width: 75%;
}
.three-per-four-metrics {
    width: 70vw;
    height: 85vh;
}
.translate-to-center {
    position: relative;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}
.width-maximiser {
    width: 100%;
    display: flex;
}